{% extends "base_generic.html" %}
{% block content %}
    <div class="mb-4">
        <div class="mb-4">
            <h1 class="title-style fw-bold">StoryFlow</h1>
        </div>
        <div class="row links-container">
            <div class="col-md-4">
                <h1 class="mb-4">Other StoryFlow Locations</h1>               
                <p><a href="url">Location 1</a></p>
                <p><a href="url">Location 2</a></p>
                <p><a href="url">Location 3</a></p>
                <p><a href="url">Location 4</a></p>
                <p><a href="url">Location 5</a></p>
            </div>
        </div>
        <div class="row content-container">
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock content %}
